<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>OTDR Test</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
		<!-- <script src="https://socket.io"></script> -->
		<script type="text/javascript" charset="utf-8">
		
			const serverHost = window.location.host; 
			url = "http://" + serverHost
			console.log('Server Host:', url);
			const socket = io(url);

			socket.on('connect', () => {
				console.log('Connected to Raspberry Pi server!');
				socket.emit('refresh_test_page');
			});

			// Listen for device data
			socket.on('device_data', (data) => {
				if(data.source == 'serial')
				{
					//console.log(data.payload);
					let id = 'chan' + data.payload;
					//console.log(id);
					document.getElementById(id).style.backgroundColor  = 'green';
					valueStr = "Channel " + data.payload + " Selected";
					document.getElementById("inputChannelStatus").value = valueStr;
				}
			});
			
			
			// graph data
			let coords = [];
			let minX = 999.9;
			let maxX = 0.0;
			let minY = 999.9;
			let maxY = 0.0;
			socket.on('data_chunk', (msg) => {
				//console.log("received a chunk");
				msg.points.forEach(point => {
					//console.log(`Received Point -> x: ${point.x}, y: ${point.y}`);
					x = parseFloat(point.x);
					y = parseFloat(point.y);
					if(x < minX)
						minX = x;
					if(x > maxX)
						maxX = x;
					if(y < minY)
						minY = y;
					if(y > maxY)
						maxY = y;
					coords.push([x, y])
				});
				// Append or process point dictionary chunks here
			});
			
			console.log("MinX = " + minX);
			console.log("MaxX = " + maxX);
			console.log("MinY = " + minY);
			console.log("MaxY = " + maxY);

			socket.on('data_complete', () => {
				console.log('All data transmission complete!');
				//for(let i=0; i<coords.length; i++)
				//{
				//	console.log(coords[i]);
				//}
				console.log("minX = %f, maxX = %f, minY = %f, maxY = %f", minX, maxX, minY, maxY);
				const canvas = document.getElementById('lineChart');
				const ctx = canvas.getContext('2d');
				let border = 60;
				let innerBorder = 20;	// so graph does not reach axis
				let totalBorder = border + innerBorder;
				ctx.canvas.width = 800 + totalBorder;
				ctx.canvas.height = 450 + totalBorder;
				ctx.font = '20px monospace';
				

				//outline
				ctx.beginPath();                  					
				ctx.moveTo(border, 0);               					
				ctx.lineTo(ctx.canvas.width, 0);              	
				ctx.lineTo(ctx.canvas.width , ctx.canvas.height - border); 	
				ctx.lineTo(border, ctx.canvas.height - border);
				ctx.closePath();               	// Link back to the start point

				ctx.lineWidth = 2;           	// Adjust outline thickness
				ctx.strokeStyle = 'green';   	// Set outline color
				ctx.stroke();  
				
				ctx.fillStyle = 'red';
				
				// vertical hash marks
				let vBottom = ctx.canvas.height - totalBorder;
				let vTop = innerBorder;	
				let vHash = 6;
				let vStep = (vBottom - vTop) / vHash;		// counting up from bottom				
				let vVal = maxY/vHash;
				// console.log("vStep = " + vStep);				
				// console.log("vBottom = " + vBottom);				
				// console.log("vTop = " + vTop);
				// console.log("vVal = " + vVal);
				for(let i = 0; i < vHash+1; i++)
				{
					ctx.beginPath();
					ctx.moveTo(border * .75, vBottom - (vStep * i));
					ctx.lineTo(border, vBottom - (vStep * i));
					ctx.closePath();
					ctx.lineWidth = 1;           	  	
					ctx.stroke();	
					
					vFloat = vVal * i;
					vDisplay = vFloat.toFixed(1)
					let vString = vDisplay.toString().padStart(1, '0');
					
					//let vString = (vVal * i).toString().padStart(2, '0');
					// console.log(vString);
					ctx.fillText(vString, 0, vBottom - (vStep * i) + 9);
				}	
				
				ctx.fillText("dB", 0, ctx.canvas.height - 20);
				ctx.fillText("(Atten)", 0, ctx.canvas.height);

				
				// horizontal hash marks
				let hRight = ctx.canvas.width - innerBorder;
				let hLeft = totalBorder;
				let hHash = 6;
				let hStep = (hRight - hLeft) / hHash;
				let hVal = maxX/hHash;
				// console.log("hStep = " + hStep);				
				// console.log("hLeft = " + hLeft);				
				// console.log("hRight = " + hRight);				
				// console.log("hVal = " + hVal);
				for(let i = 0; i < hHash+1; i++)
				{
					ctx.beginPath();
					ctx.moveTo(hLeft + (hStep * i), ctx.canvas.height - border);
					ctx.lineTo(hLeft + (hStep * i), ctx.canvas.height - border * .60);
					ctx.closePath();
					ctx.lineWidth = 1;           	
					ctx.stroke(); 
					
					hFloat = hVal * i;
					hDisplay = hFloat.toFixed(1)
					let hString = hDisplay.toString().padStart(1, '0');
					ctx.fillText(hString, hLeft + (hStep * i) - 15, ctx.canvas.height - 20);
				}
				
				ctx.fillText("kM (Distance)", ctx.canvas.width/2, ctx.canvas.height);
				
				// graph
				let startX = hLeft;
				let startY = vBottom;
				ctx.lineWidth = 1;             	// Adjust outline thickness
				ctx.strokeStyle = 'black';    	// Set outline color
				for(let i = 0; i < coords.length; i++)
				{
					ctx.beginPath();
					ctx.moveTo(startX, startY);
					xCoord = Math.trunc(((coords[i][0] - minX) / maxX) * ((ctx.canvas.width - (totalBorder + innerBorder))));
					yCoord = Math.trunc(ctx.canvas.height - ((coords[i][1] - minY) / maxY) * (ctx.canvas.height - (totalBorder + innerBorder)));		// inverted
					startX = xCoord + totalBorder;
					startY = yCoord - totalBorder;
					ctx.lineTo(startX, startY);
					ctx.stroke();
				}		
				coords.length = 0;
			});
    		
			function setInputChannel(channel) {
				for(let i = 1; i < 13; i++) {
					id = 'chan' + i;
					if (channel != i) 
						document.getElementById(id).style.backgroundColor  = '';
					else
					{
						document.getElementById(id).style.backgroundColor  = 'red';
						valueStr = "Switching to Channel " + i;
						document.getElementById("inputChannelStatus").value = valueStr;
					}
				}
				socket.emit('send_command', { target: 'serial', command: channel });
			}
			
			function startMeasureOTDR() {
				console.log("startMeasureOTDR");
				const canvas = document.getElementById('lineChart');
				const ctx = canvas.getContext('2d');
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				socket.emit('start_measure');
			}
			
			function stopMeasureOTDR() {
				socket.emit('stop_measure');
				console.log("stopMeasureOTDR");
			}
			
		</script>
	</head>
	<body style="font-family: sans-serif; padding: 20px;">
		<h2>Test</h2>	
		<div class="chart-container">
			<canvas id="lineChart" width="600" height="450"></canvas>
		</div>
		
		<h3>Optical Input Channel</h3>
		<button id="chan1" onclick="setInputChannel('1')">Chan 1</button>
		<button id="chan2" onclick="setInputChannel('2')">Chan 2</button>
		<button id="chan3" onclick="setInputChannel('3')">Chan 3</button>
		<button id="chan4" onclick="setInputChannel('4')">Chan 4</button>
		<button id="chan5" onclick="setInputChannel('5')">Chan 5</button>
		<button id="chan6" onclick="setInputChannel('6')">Chan 6</button>
		<button id="chan7" onclick="setInputChannel('7')">Chan 7</button>
		<button id="chan8" onclick="setInputChannel('8')">Chan 8</button>
		<button id="chan9" onclick="setInputChannel('9')">Chan 9</button>
		<button id="chan10" onclick="setInputChannel('10')">Chan 10</button>
		<button id="chan11" onclick="setInputChannel('11')">Chan 11</button>
		<button id="chan12" onclick="setInputChannel('12')">Chan 12</button>
		<br>
		<br>
		<input type="text" id="inputChannelStatus" value="No Channel Selected" readonly>
		<br>
		<h3>Measure</h3>
		<button id="startMeasure" onclick="startMeasureOTDR()">Start</button>
		<button id="stopMeasure" onclick="stopMeasureOTDR()">Stop</button>
		<h3> </h3>
		<a href="{{ url_for('gotoDashboard') }}">
			<button type="button">Main Menu</button>
		</a>
	</body>
</html>